[color]
    ui = true
[user]
	email = evan.fossier@gmail.com
	name = Evan Fossier
[push]
	default = simple
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff"]
	meta = yellow bold
[alias]
	unstage = reset HEAD --
	gone = checkout --
[include]
    path = ./.gitconfig-twilio
