"
" VIMRC for JetBrains based IDEs
"

" map Shift + H & Shift + L to tab nav
nnoremap H gT
nnoremap L gt

" Enable surround plugin
set surround

" Add characters to be considered word boundaries
set iskeyword-=_

" Remap ; to :
noremap ;; ;
map ; :

" Leader shortcuts
let mapleader=","

" ,y to copy to system clipboard
vnoremap <leader>y "+y

" ,p to paste from system clipboard
vnoremap <leader>p "+p
